<VirtualHost *:443>
       ServerAdmin {{ SUPPORT_EMAIL }}
       DocumentRoot /var/www/html
       ErrorLog ${APACHE_LOG_DIR}/error.log
       CustomLog ${APACHE_LOG_DIR}/access.log combined
       SSLEngine on
       SSLCertificateFile /etc/apache2/ssl/ssl.crt
       SSLCertificateKeyFile /etc/apache2/ssl/ssl.key

       ProxyRequests Off
       ProxyPreserveHost Off
       ProxyPass / http://{{ SERVICE_TO_PROTECT }}:{{ SERVICE_PORT }}/
       ProxyPassReverse / http://{{ SERVICE_TO_PROTECT }}:{{ SERVICE_PORT }}/

       <Location />
         AuthType shibboleth
         ShibRequestSetting requireSession 1
         require valid-user
         ShibUseHeaders On
       </Location>
</VirtualHost>
